= form_for institution, url: save_registration_path, method: 'post', html: {class: 'text-left', novalidate: 'novalidate'}  do |f|
  = f.hidden_field :id, value: institution.id
  %p
    %i
      The information provided will be used to create a Joinder Agreement for your institution.
      %br
      Fields marked with 
      = required
      are required.
  %fieldset.form-fieldset
    %legend
      %strong Institutional Information
    .field
      %p{style: 'text-align:center;'}
        FWA Name: 
        = institution.fwa.name
    .field
      = f.label :name, value: 'Institution Legal Name', class: 'form-label'
      = f.text_field :name, required: true, size: 60, maxlength: 255, class: "form-control #{field_class(institution, :name)}"
    .field
      = f.label :street, class: 'form-label'
      %br
      = f.text_field :street, size: 30, maxlength: 255, class: 'form-control'
    .field
      = f.label :city, class: 'form-label'
      = required
      %br
      = f.text_field :city, required: true, size: 30, maxlength: 255, class: "form-control #{field_class(institution, :city)}"
    .field
      = f.label :state, class: 'form-label'
      = required
      %br
      = f.select :state, options_for_select(us_states, institution.state), required: true,  class: "form-control #{field_class(institution, :state)}"
    .field
      = f.label :zip, class: 'form-label'
      = required
      %br
      = f.text_field :zip, required: true, size: 30, maxlength: 255, class: "form-control #{field_class(institution, :zip)}"
    %p
  %br

  %span.form-title
    %strong
      Institution Type
      %i (check all that apply)
      = required
  %br
  %div{class: field_class(institution, :type)}
    = f.check_box :university
    = f.label :university, class: 'horiz-answer'
    %br
    = f.check_box :academic_medical_center
    = f.label :academic_medical_center, 'Academic Medical Center', class: 'horiz-answer'
    %br
    = f.check_box :community_hospital
    = f.label :community_hospital, 'Community Hospital', class: 'horiz-answer'
    %br
    = f.check_box :cancer_center
    = f.label :cancer_center, 'Cancer Center', class: 'horiz-answer'
    %br
    = f.check_box :other_type
    = f.label :other_type, 'Other', class: 'horiz-answer'

  %span.form-title
    %strong
      Is your institution funded by or affiliated with an institution that has received a National Institutes of Health Clinical and Translational Science Award (CTSA)?
      = required
  %br
  %div{class: field_class(institution, :ctsa_funded)}
    = f.radio_button :ctsa_funded, true
    = f.label :ctsa_funded, 'Yes', value: 'true', class: 'horiz-answer'
    %br 
    = f.radio_button :ctsa_funded, false
    = f.label :ctsa_funded, 'No', value: 'false', class: 'horiz-answer'
    %br
    %br
  %div{class: field_class(institution, :ctsa), id: 'ctsa-select', style: "display:#{institution.ctsa_funded ? 'block' : 'none'};"}
    If yes, select your CTSA-holding institution.
    = required
    %br
    = f.select :ctsa, options_for_select(Institution.ctsas, institution.ctsa), include_blank: '----- Please Select an Institution -----'

  %span.form-title
    %strong
      Is your institution’s 
      %span.glossary-fwa FWA
      applicability restricted to federally-funded research (i.e. Has your institution “unchecked the box” on its 
      %span.glossary-fwa FWA
      )?
      = required
  %br
  %div{:class => "#{field_class(institution, :fwa_box_unchecked)}"}
    .field
      = f.radio_button :fwa_box_unchecked, 'yes', class: 'responsive-radio-button'
      = f.label :fwa_box_unchecked, 'Yes', value: 'yes', class: 'form-label responsive-radio-label'
      %br
    .field
      = f.radio_button :fwa_box_unchecked, 'no_abcd', class: 'responsive-radio-button'
      = f.label :fwa_box_unchecked, 'No, institution applies subparts A, B, C, and D of the common rule regardless of source of support.', value: 'no_abcd', class: 'form-label responsive-radio-label'
      %br
    .field
      = f.radio_button :fwa_box_unchecked, 'no_a', class: 'responsive-radio-button'
      = f.label :fwa_box_unchecked, 'No, institution applies subpart A of the common rule only, regardless of source of support.', value: 'no_a', class: 'form-label responsive-radio-label'
      %br

  %span.form-title
    %strong.glossary-hrpp
      If your institution has an IRB or is an IRB Organization, the institution must have a process to assess the quality of its human research protection program (HRPP). Such assessment may be accomplished by accreditation through an external organization within the past 5 years, through OHRP’s Quality Assessment Program, or other equivalent approach. What method does your institution use to assure the quality of its Human Research Protection Program (HRPP) (check all that apply)?
      = required
  %br
  %div{class: field_class(institution, :hrpp_accreditation_option)}
    = f.check_box :hrpp_accredited
    = f.label :hrpp_accredited, 'HRPP has undergone accreditation through an external organization', style: 'font-weight:normal;'
    %br
    #accrediting-organization
      .field
        = f.label :accrediting_organization, 'Accrediting organization', class: 'form-label pad-left-40'
        = required
        %br
        = f.text_field :accrediting_organization, size: 50, maxlength: 255, style: 'margin-left:40px;', class: field_class(institution, :accrediting_organization)
      .field
        = f.label :accredited_at, 'Date', class: 'form-label pad-left-40'
        = required
        %br
        = f.text_field :accredited_at, value: format_date(institution.accredited_at), id: 'hrpp-date', style: 'margin-left:40px;', class: "datepicker #{field_class(institution, :accredited_at)}", readonly: true
    %br
    = f.check_box :hrpp_pursuing_accreditation
    = f.label :hrpp_pursuing_accreditation, 'HRPP is pursuing accreditation through an external organization', style: 'font-weight:normal;'
    %br
    #pursued-accrediting-organization
      .field
        = f.label :pursued_accrediting_organization, 'Accrediting organization', class: 'form-label pad-left-40'
        = required
        %br
        = f.text_field :pursued_accrediting_organization, size: 50, maxlength: 255, style: 'margin-left:40px;', class: field_class(institution, :pursued_accrediting_organization)
      .field
        = f.label :pursued_accreditation_status, 'Status', class: 'form-label pad-left-40'
        = required
        %br
        = f.text_field :pursued_accreditation_status, size: 50, maxlength: 255, style: 'margin-left:40px;', class: field_class(institution, :pursued_accreditation_status)
    %br
    = f.check_box :ohrp
    = f.label :ohrp, "IRB has undergone OHRP's Quality Assessment Program", style: 'font-weight:normal;'
    %br
    #ohrp-details
      %div{style: 'padding:15px 0px 15px 40px;color:#bbb;'}
        %i Either select date completed OR describe status:
      .field
        = f.label :ohrp_completed_at, 'Date completed', class: 'form-label pad-left-40'
        %br
        = f.text_field :ohrp_completed_at, value: format_date(institution.ohrp_completed_at), style: 'margin-left:40px;', class: "datepicker #{field_class(institution, :ohrp_completed_at)}", readonly: true
      .field
        = f.label :ohrp_status, 'In progress; please describe status', class: 'form-label pad-left-40'
        %br
        = f.text_field :ohrp_status, size: 50, maxlength: 255, style: 'margin-left:40px;', class: field_class(institution, :ohrp_status)
    %br
    = f.check_box :hrpp_other
    = f.label :hrpp_other, 'Other approach', style: 'font-weight:normal;'
    %br
    #hrpp-other-description
      .field
        = f.label :hrpp_other_description, 'Please specify', class: 'form-label pad-left-40'
        = required
        %br
        = f.text_field :hrpp_other_description, size: 50, maxlength: 255, style: 'margin-left:40px;', class: field_class(institution, :hrpp_other_description)
    %br
    = f.check_box :no_irb
    = f.label :no_irb, 'My institution does not have an IRB', style: 'font-weight:normal;'
    %br

  %fieldset.form-fieldset
    %legend
      %strong.glossary-poc SMART IRB Point of Contact (POC)
    (NOTE:  The POC is the person who can make or facilitate determinations on behalf of the institution
    regarding IRB reliance requests and provide local context information to a Reviewing IRB.
    Any changes to the POC must be communicated promptly in writing.)
    .field
      = f.label :poc_first_name, 'First Name', class: 'form-label'
      = required
      %br
      = f.text_field :poc_first_name, required: true, class: "form-control #{field_class(institution, :poc_first_name)}"
    .field
      = f.label :poc_last_name, 'Last Name', class: 'form-label'
      = required
      %br
      = f.text_field :poc_last_name, required: true, class: "form-control #{field_class(institution, :poc_last_name)}"
    .field
      = f.label :poc_title, 'Title', class: 'form-label'
      = required
      %br
      = f.text_field :poc_title, required: true, class: "form-control #{field_class(institution, :poc_title)}"
    .field
      = f.label :poc_street, 'Street', class: 'form-label'
      = required
      %br
      = f.text_field :poc_street, required: true, class: "form-control #{field_class(institution, :poc_street)}"
    .field
      = f.label :poc_city, 'City', class: 'form-label'
      = required
      %br
      = f.text_field :poc_city, required: true, class: "form-control #{field_class(institution, :poc_city)}"
    .field
      = f.label :poc_state, 'State', class: 'form-label'
      = required
      %br
      = f.select :poc_state, options_for_select(us_states, institution.poc_state), required: true,  class: "form-control #{field_class(institution, :poc_state)}"
    .field
      = f.label :poc_zip, 'Zip', class: 'form-label'
      = required
      %br
      = f.text_field :poc_zip, required: true, class: "form-control #{field_class(institution, :poc_zip)}"
    .field
      = f.label :poc_email, 'Email', class: 'form-label'
      = required
      %br
      = f.email_field :poc_email, required: true, class: "form-control #{field_class(institution, :poc_email)}"
    .field
      = f.label :poc_phone, 'Phone', class: 'form-label'
      = required
      %br
      = f.text_field :poc_phone, required: true, class: "form-control #{field_class(institution, :poc_phone)}"

  %fieldset.form-fieldset
    %legend
      %strong Alternate Point of Contact
    .field
      = f.label :altpoc_first_name, 'First Name', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_first_name, required: true, class: "form-control #{field_class(institution, :altpoc_first_name)}"
    .field
      = f.label :altpoc_last_name, 'Last Name', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_last_name, required: true, class: "form-control #{field_class(institution, :altpoc_last_name)}"
    .field
      = f.label :altpoc_title, 'Title', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_title, required: true, class: "form-control #{field_class(institution, :altpoc_title)}"
    .field
      = f.label :altpoc_street, 'Street', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_street, required: true, class: "form-control #{field_class(institution, :altpoc_street)}"
    .field
      = f.label :altpoc_city, 'City', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_city, required: true, class: "form-control #{field_class(institution, :altpoc_city)}"
    .field
      = f.label :altpoc_state, 'State', class: 'form-label'
      = required
      %br
      = f.select :altpoc_state, options_for_select(us_states, institution.altpoc_state), required: true,  class: "form-control #{field_class(institution, :altpoc_state)}"
    .field
      = f.label :altpoc_zip, 'Zip', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_zip, required: true, class: "form-control #{field_class(institution, :altpoc_zip)}"
    .field
      = f.label :altpoc_email, 'Email', class: 'form-label'
      = required
      %br
      = f.email_field :altpoc_email, required: true, class: "form-control #{field_class(institution, :altpoc_email)}"
    .field
      = f.label :altpoc_phone, 'Phone', class: 'form-label'
      = required
      %br
      = f.text_field :altpoc_phone, required: true, class: "form-control #{field_class(institution, :altpoc_phone)}"

  %fieldset.form-fieldset
    %legend
      %strong.glossary-io Institutional Official
    (NOTE: This individual should be authorized to sign IRB reliance agreements, 
    including the 
    %span.glossary-joinder joinder to the SMART IRB Agreement, 
    on behalf of the institution.)
    .field
      = f.label :io_first_name, 'First Name', class: 'form-label'
      = required
      %br
      = f.text_field :io_first_name, required: true, class: "form-control #{field_class(institution, :io_first_name)}"
    .field
      = f.label :io_last_name, 'Last Name', class: 'form-label'
      = required
      %br
      = f.text_field :io_last_name, required: true, class: "form-control #{field_class(institution, :io_last_name)}"
    .field
      = f.label :io_title, 'Title', class: 'form-label'
      = required
      %br
      = f.text_field :io_title, required: true, class: "form-control #{field_class(institution, :io_title)}"
    .field
      = f.label :io_street, 'Street', class: 'form-label'
      = required
      %br
      = f.text_field :io_street, required: true, class: "form-control #{field_class(institution, :io_street)}"
    .field
      = f.label :io_city, 'City', class: 'form-label'
      = required
      %br
      = f.text_field :io_city, required: true, class: "form-control #{field_class(institution, :io_city)}"
    .field
      = f.label :io_state, 'State', class: 'form-label'
      = required
      %br
      = f.select :io_state, options_for_select(us_states, institution.io_state), required: true,  class: "form-control #{field_class(institution, :io_state)}"
    .field
      = f.label :io_zip, 'Zip', class: 'form-label'
      = required
      %br
      = f.text_field :io_zip, required: true, class: "form-control #{field_class(institution, :io_zip)}"
    .field
      = f.label :io_email, 'Email', class: 'form-label'
      = required
      %br
      = f.email_field :io_email, required: true, class: "form-control #{field_class(institution, :io_email)}"
    .field
      = f.label :io_phone, 'Phone', class: 'form-label'
      = required
      %br
      = f.text_field :io_phone, required: true, class: "form-control #{field_class(institution, :io_phone)}"
  .actions
    - if current_user.privileged?
      = f.submit 'Save Update', style: 'margin-bottom: 5px !important;'
    - else
      -# NOTE: This is brittle. Controller logic checks the exact text of the following submit button.
      = f.submit 'Save Partial Form for Future Completion', style: 'margin-bottom: 5px !important;'
      = f.submit 'Save Complete Form and Continue', style: 'margin-bottom: 5px !important;'
      - if institution.registered_at
        %span= link_to 'Back', root_url, class: 'btn btn-primary', style: 'margin-bottom: 5px !important;'
