= devise_error_messages!
.centered.fixed-320
  %h2 Resend confirmation instructions
  = bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .field
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Email'
    .actions
      = f.submit "Resend confirmation email"
  .pad-top-20= render "devise/shared/links"
