%h3.text-left
  Your institution's uploaded 
  %span.glossary-joinder joinder 
  files.
.panel.panel-default.table-responsive
  %table.table.table-striped
    %tr
      %th File Name
      %th Uploaded By
      %th Uploaded At
    - @uploads.each do |upload|
      %tr
        %td= link_to truncate(upload.doc_file_name, length: 40), download_joinder_path(upload.id), target: '_blank'
        %td= upload.user.email
        %td= upload.created_at.strftime("%m/%d/%y %I:%M %p")

.pad-top-20.btn-grp
  = link_to '&#x25c0 Upload A Revised File'.html_safe, new_joinder_upload_path, class: 'btn btn-primary', style: 'margin-bottom: 5px;'
  - if @submission
    = link_to 'Continue to Submission &#x25b6'.html_safe, edit_submission_path(@submission.id), class: 'btn btn-primary', style: 'margin-bottom: 5px;'
  - else
    = link_to 'Continue to Submission &#x25b6'.html_safe, new_submission_path, class: 'btn btn-primary', style: 'margin-bottom: 5px;'

