%h3.text-left Please upload your institution's signed and scanned agreement here.
%h4.text-left Only files of type .pdf, .png, .gif, or .jpg are allowed.
= bootstrap_form_for @upload, url: joinder_uploads_path, html: { multipart: true } do |f|
  = f.hidden_field :kind, value: 'joinder'
  = f.file_field :doc, style: 'margin-top:20px', id: 'file-select' 
  = f.submit 'Upload Now', class: 'none', id: 'file-submit'
- if current_user.institution.uploads.first
  %p= link_to 'View Existing Uploads', joinder_uploads_path, class: 'link-button text-left', id: 'view-existing'

-# Hide the unhelpful Bootstrap help text in the form
:javascript
  $('.help-block').hide();
