= devise_error_messages!
.centered
  %h3 Edit Login Information
  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .field.pad-top-20
      = f.password_field :current_password, autofocus: true, autocomplete: "off", size: 30, placeholder: 'Current password (required)'
    .field
      = f.email_field :email, size: 30, placeholder: resource.email
      
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .field
      = f.password_field :password, autocomplete: "off", size: 30, placeholder: 'New Password'
    .field
      = f.password_field :password_confirmation, autocomplete: "off", size: 30, placeholder: 'New Password Confirmation'
    .actions.text-center.pad-top-20
      = f.submit "Update"
      = link_to 'Back', :back, class: 'btn btn-primary'
