-# This mirrors the new_from_token view. It gets rendered if there are any errors returned from the registration (create) method.
-# The only difference is that we do not use the @downloader object to prepopulate the email field, instead using the already passed-in user object
= devise_error_messages!
.centered.fixed-320
  %h2
    Sign up for
    = app_name
  %p{style: 'color: #aaa'} Before joining SMART IRB, you must first create an SMART IRB account. 
  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    -# NOTE: The following hidden field tag was disabled when we reverted to allowing open
    -# signup. It must be uncommented if invitation-only signup is turned back on.
    -# = hidden_field_tag :token, @downloader.token
    .field
      = f.label :email, 'Email', class: 'form-label'
      = f.email_field :email, autofocus: true, placeholder: 'Email'
    .field
      = f.label :email, 'Password', class: 'form-label'
      = f.password_field :password, autocomplete: "off", hide_label: true, placeholder: 'Password (8 characters minimum)'
    .field
      = f.label :email, 'Password Confirmation', class: 'form-label'
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-enter password'
    .actions
      = f.submit "Sign up"
  .pad-top-20= render "devise/shared/links"
