= devise_error_messages!
.centered.fixed-320
  %h2
    Sign up for
    = app_name
  %p{style: 'color: #aaa'} Before joining SMART IRB, you must first create a SMART IRB account. 
  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = hidden_field_tag :token, @downloader.token
    .field
      = f.label :email, 'Email', class: 'form-label'
      = f.email_field :email, placeholder: 'Email', value: @downloader.try(:email)
    .field
      = f.label :email, 'Password', class: 'form-label'
      = f.password_field :password, autofocus: true, autocomplete: "off", hide_label: true, placeholder: 'Password (8 characters minimum)'
    .field
      = f.label :email, 'Password Confirmation', class: 'form-label'
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-enter password'
    .actions
      = f.submit "Sign up"
  .pad-top-20= render "devise/shared/links"
