%p
  Welcome to SMART IRB! The Joinder Agreement provided on behalf of
  = @institution.name 
  has been reviewed and your institution’s participation in SMART IRB activated.
%p
  = @institution.name 
  may now use the SMART IRB Master Agreement to effect reliance arrangements for human subjects
  research as outlined in that document; please review the responsibilities for all Participating
  Institutions, Reviewing IRBs, and Relying Institutions, and ensure that research teams are
  informed of their responsibilities for studies using the SMART IRB Agreement.
%p
  Visit
  = link_to 'SMARTIRB.org', 'http://smartirb.org'
  for more information about the SMART IRB platform, and to access available
  = "#{link_to 'resources', 'http://smartirb.org/resources'},".html_safe
  including Standard Operating Procedures (SOPs) and Frequently Asked Questions (FAQs).
%p
  Questions? Contact:
  = mail_to 'email_tbd@smartirb.org'
%p
  Additional Comments:
  %br
  = simple_format(@custom_text, class: 'notes')
%p
  Thank you
