- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env
%p
  Thank you for your interest in the SMART IRB Agreement. You can learn more about the SMART IRB platform in the 
  = link_to 'Resources', 'http://smartirb.org/resources'
  section of our website.
%p
  In order for your institution to join SMART IRB, you must register and submit a signed Joinder Agreement on behalf of the institution.
  A member of the SMART IRB team will then review the submission and activate the institution or notify you of any outstanding issues that must be addressed.
%p
  When you are ready, begin the joinder process by creating a SMART IRB user account.
%p
  Create your account here:
  - url = new_user_registration_url(protocol: protocol) + "/#{@token}"
  = link_to url, url
%p
  Questions? Contact:
  = mail_to 'email_tbd@smartirb.org'
%p
  Thank you
