- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env

%p
  Your submission for
  = @institution.name
  to join SMART IRB needs revision before your institution’s use of the SMART IRB Master
  Agreement can be activated.
%p
  Additional Comments:
  %br
  = simple_format(@custom_text, class: 'notes')
%p
  Please log in to SMART IRB to revise your request and upload a new Joinder Agreement:
  - url = new_user_session_url(protocol: protocol)
  = link_to url, url
%p
  Questions? Contact:
  = mail_to 'email_tbd@smartirb.org'
%p
  Thank you
