%p
  Thank you for submitting a SMART IRB Joinder Agreement on behalf of
  = "#{@institution_name}. At this time, a member of the SMART IRB"
  team will review the information provided for this institution, along with the signed Joinder Agreement.
%p
  Once a quality assurance review of the Joinder Agreement for
  = @institution_name
  has been completed, you will be notified that
  your institution’s participation in SMART IRB has been activated. If we are unable to activate your institution based on
  review of the Joinder Agreement, you will receive a notification explaining any areas requiring correction or outstanding
  issues that must be addressed.
%p
  As noted in the Joinder Agreement, an institution’s participation in any activities under the Agreement may be subject to
  activation or other processes; this includes the review process described above. Please do not proceed with any activities
  under the SMART IRB Agreement until you have received notification of activation.
%p 
  Questions? Contact:
  = mail_to 'email_tbd@smartirb.org'
