%p
  = "Hello #{@user.first_name},"
%p
  This email confirms your recent SMART IRB password change.
%p
  If you did not make this change, please contact us at
  = mail_to 'email_tbd@smartirb.org'
%p
  Please do not reply to this message, because responses go to an unmonitored mailbox.
