%p
  We are unable to activate your submission for
  = @institution.name
  to join SMART IRB. Please see below for additional information.
%p
  Additional Comments:
  %br
  = simple_format(@custom_text, class: 'notes')
%p
  Questions? Contact:
  = mail_to 'email_tbd@smartirb.org'
%p
  Thank you
