%meta{name: 'pdfkit-margin_top', content: '0.5in' }
%meta{name: 'pdfkit-margin_right', content: '0.5in' }
%meta{name: 'pdfkit-margin_bottom', content: '0.5in' }
%meta{name: 'pdfkit-margin_left', content: '0.5in' }
:css
  *{ font-size: 13px; }
  body { font-family: 'Sans Source Pro', sans-serif !important; }
  p { text-align: justify;}
  div {
    padding: 10px;
    width: 95%
  }
  .box { border: 1px solid black; }
  .box-no-top {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .underline { text-decoration: underline; }

%div
  %center SMART IRB Joinder Agreement
  %p This Joinder Agreement is made pursuant to the SMART IRB Master Common Reciprocal Institutional Review Board Authorization Agreement (“Agreement”) and establishes that the below-identified, undersigned institution is a party to and Participating Institution in the Agreement, with all of the associated rights and obligations there under.  
  %p By execution of this Joinder Agreement, the undersigned institution hereby: (i) represents and warrants that it meets all eligibility requirements for participation in the Agreement and (ii) joins in, accepts, and agrees to be bound by all of the terms and conditions of the Agreement and, without limiting the foregoing, agrees that it may accept and rely on the review of any of the IRBs of the Participating Institutions and that any Participating Institution may rely on its IRB (if applicable) for Research when so elected by such Participating Institutions under the Agreement; provided that, if it is an IRB Organization, the undersigned institution hereby instead: (i) represents and warrants that it meets all applicable eligibility requirements for participation in the Agreement and (ii) joins in, accepts, and agrees to be bound by all of the terms and conditions of the Agreement and, without limiting the foregoing, agrees that any Participating Institution may rely on its IRB for Research when so elected by such IRB Organization and Participating Institution under the Agreement.
  %p This Joinder Agreement covers the below-identified Participating Institution only and does not include any other separate FWA-holding entities or separate legal corporations with which the Participating Institution or any of its IRBs is affiliated or has an IRB reliance relationship. Each affiliate or other entity that has its own separate FWA or is a separate legal corporation will need to execute its own Joinder Agreement in order to participate in the Agreement.
  %p Any capitalized terms used in this Joinder Agreement and not defined herein shall have the same meanings given to them in the Agreement.
  %p The Effective Date of this Joinder Agreement is the date on which the Participating Institution executes the Joinder Agreement as indicated by its Authorized Institutional Official/Signatory below; however, the Participating Institution’s actual participation in any activities under the Agreement may be subject to activation or other processes.
  %p The Participating Institution must keep this Joinder Agreement and a copy of the Agreement on file and provide it to OHRP or other federal agencies upon request.
.box
  Participating Institution Legal Name: #{@institution.name}
  %br
  Participating Institution Legal Address: #{@institution.city}, #{@institution.state}, #{@institution.zip}
.box-no-top
  #{unchecked_box} Check here if Participating Institution is an IRB Organization (as defined in the Agreement). If an IRB Organization, provide the following:
  %br
  %span{style: 'margin-left:3em;'} IRB Organization #:
.box-no-top
  #{checked_box} Check here if Participating Institution is NOT an IRB Organization and has an FWA. Provide the following information: 
  %br
  %span{style: 'margin-left:3em;'} FWA #: #{@institution.fwa.num}
  %br
  #{@institution.no_irb ? checked_box : unchecked_box} Check here if Participating Institution does not maintain an IRB.
  %br
  #{@institution.no_irb ? unchecked_box : checked_box} Check here if Participating Institution maintains on or more IRBs.
.box{style: 'page-break-before:always;'}
  Is your institution’s FWA applicability restricted to federally-funded research (i.e., has your institution “unchecked the box” on its FWA)?
  %br
  %br
  #{@institution.fwa_box_unchecked == 'yes' ? checked_box : unchecked_box} Yes 
  %br
  #{@institution.fwa_box_unchecked == 'no_abcd' ? checked_box : unchecked_box} No, institution applies subparts A, B, C, and D regardless of source of support.
  %br
  #{@institution.fwa_box_unchecked == 'no_a' ? checked_box : unchecked_box} No, institution applies subpart A only, regardless of source of support.
  %br
  %br
.box-no-top
  %p{style: 'margin-top:0px;'} If your institution has an IRB or is an IRB Organization, the institution must have undergone or have initiated an assessment of the quality of its human research protection program (HRPP). Such assessment must have occurred or have been initiated within the past 5 years prior to the institution joining the Agreement.  The assessment may be accomplished by accreditation through an external organization, through OHRP’s Quality Assessment Program, or other equivalent approach. What method does your institution use to assure the quality of its HRPP? Check all that apply.
  #{@institution.hrpp_accredited ? checked_box : unchecked_box} HRPP has undergone accreditation through an external organization
  %br
  %span{style: 'margin-left:3em;'} #{bullet} Accrediting organization: #{@institution.accrediting_organization}
  %br
  %span{style: 'margin-left:3em;'} #{bullet} Date received: #{format_date(@institution.accredited_at)}
  %br
  #{@institution.hrpp_pursuing_accreditation ? checked_box : unchecked_box} HRPP is pursuing accreditation through an external organization 
  %br
  %span{style: 'margin-left:3em;'} #{bullet} Accrediting organization: #{@institution.pursued_accrediting_organization}
  %br
  %span{style: 'margin-left:3em;'} #{bullet} Status: #{@institution.pursued_accreditation_status}
  %br
  #{@institution.ohrp ? checked_box : unchecked_box} IRB(s) has undergone or has initiated OHRP’s Quality Assessment Program
  %br
  %span{style: 'margin-left:3em;'} #{bullet} Date completed: #{format_date(@institution.ohrp_completed_at)}
  %br
  %span{style: 'margin-left:3em;'} #{bullet} In progress; please describe status: #{@institution.ohrp_status}
  %br
  #{@institution.hrpp_other ? checked_box : unchecked_box} Other approach, please specify: #{@institution.hrpp_other_description}
.box-no-top
  %p{style: 'margin-top:0px;'}
    %span.underline Notices.
    All written notices and other communications required under the Agreement from any other Participating Institution to the undersigned institution may be made in hard copy or electronic form and shall be delivered to the following address(es):
  For notice:
  %br
  NAME:
  %br
  TITLE:
  %br
  INSTITUTION:
  %br
  STREET:
  %br
  TOWN, STATE, ZIP:
  %br
  Email address:
  %br
  %br
  With a copy to: (Add as many as apply)
  %br
  NAME:
  %br
  TITLE:
  %br
  INSTITUTION:
  %br
  STREET:
  %br
  CITY, STATE, ZIP:
  %br
  Phone:
  %br
  Email address: 	
.box{style: 'page-break-before:always;'}
  %p{style: 'margin-top:0px;'}
    %span.underline Point(s) of Contact.
    Each institution must identify and establish at least one individual who will serve as the contact person responsible for communicating on behalf of the institution with respect to matters concerning the initial and ongoing implementation of this Agreement.
  NAME: #{@institution.poc_first_name} #{@institution.poc_last_name}
  %br
  TITLE: #{@institution.poc_title}
  %br
  INSTITUTION: #{@institution.name}
  %br
  STREET: #{@institution.poc_street}
  %br
  CITY, STATE, ZIP: #{@institution.poc_city}, #{@institution.poc_state}, #{@institution.poc_zip}
  %br
  Phone: #{@institution.poc_phone}
  %br
  Email address: #{@institution.poc_email}
  %br
  %br
  %p{style: 'margin-top:0px;'}
    %span.underline Alternate Point(s) of Contact (POC):
    %br
    The Alternate POC is the person who can make or facilitate determinations on behalf of the institution regarding IRB reliance requests and provide local context information to a Reviewing IRB. 
  NAME: #{@institution.altpoc_first_name} #{@institution.altpoc_last_name}
  %br
  TITLE: #{@institution.altpoc_title}
  %br
  INSTITUTION: #{@institution.name}
  %br
  STREET: #{@institution.altpoc_street}
  %br
  CITY, STATE, ZIP: #{@institution.altpoc_city}, #{@institution.altpoc_state}, #{@institution.altpoc_zip}
  %br
  Phone: #{@institution.altpoc_phone}
  %br
  Email address: #{@institution.altpoc_email}
  %br
  %br
  %p{style: 'margin-top:0px;'}
    %span.underline Additional Point(s) of Contact:
  NAME:
  %br
  TITLE:
  %br
  INSTITUTION:
  %br
  STREET:
  %br
  CITY, STATE, ZIP:
  %br
  Phone:
  %br
  Email address:
.box-no-top
  %p{style: 'margin-top:0px;'} I understand and affirm that Participating Institutions are strongly encouraged to use and follow the SMART IRB Standard Operating Procedures (“SMART IRB SOPs”) for research covered under the Agreement, and that if institutions do not use the SMART IRB SOPs, they must communicate to each other and the Research Personnel the policies and procedures that will apply to the ceded Research.
  #{unchecked_box} Yes
.box-no-top
  %p{style: 'margin-top:0px;margin-bottom:10px;'} Agreed and signed by the authorized Institutional Official/Signatory of the Participating Institution
  %div{style: 'width:45%;border-bottom:1px solid black;margin-bottom:10px;'}
  Name: #{@institution.io_first_name} #{@institution.io_last_name}
  %br
  Title: #{@institution.io_title}
  %br
  Address: #{@institution.io_street}, #{@institution.io_city}, #{@institution.io_state}, #{@institution.io_zip}
  %br
  Phone: #{@institution.io_phone}
  %br
  Email address: #{@institution.io_email}
  %br
  Date:
