%h3.text-left.glossary-joinder#download-text= "The Joinder Agreement for #{@institution.name} is ready for download. When you are ready to join SMART IRB, please download the pre-filled Joinder Agreement below."
.centered.pad-top-40
  = link_to 'Download Joinder Agreement PDF', download_signatory_path, class: 'btn btn-primary', id: 'download-now'
  = link_to 'Continue', root_url, class: 'btn btn-primary none', id: 'go-home'

:javascript
  $('#download-now').click(function() {
    $('#download-text').text('Thank you for downloading the Joinder Agreement. Please click continue below.');
    $('#download-now').hide();
    $('.alert').hide();
    $('#go-home').show();
  })
