:css
  div.hr{
    margin-top: 30px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  span.partial-hr{
    padding-top: 30px;
    display: inline-block;
    height: 1px;
    width: 100%;
    float: right;
    border-top: 1px solid black;
  }
%div{:style => "padding:10px;width:100%"}
  %center Joinder Agreement
  %p This Joinder Agreement establishes that the below-identified, undersigned institution is a party to and Participating Institution in the SMART IRB Master Common Reciprocal Institutional Review Board Authorization Agreement (“Agreement”), with all of the associated rights and obligations thereunder.
  %p By execution and delivery of this Joinder Agreement to SMART IRB central support, the undersigned institution hereby joins in and accepts and agrees to be bound by all of the terms and conditions of the Agreement and, without limiting the foregoing, agrees that it may accept and rely on the review of any of the IRBs of the Participating Institutions for Research under the Agreement.
  %p Any capitalized terms used in this Joinder Agreement and not defined herein shall have the same meanings given to them in the Agreement.
  %p The Effective Date of this Joinder Agreement is the date when an appropriate Master Common Reciprocal Institutional Review Board Authorization Agreement official] acknowledges by signing below that the undersigned institution meets all eligibility requirements for participation in the Agreement and that this Joinder Agreement has been accepted.
  %p The Participating Institution must keep this Joinder Agreement and a copy of the Agreement on file and provide it to OHRP or other federal agencies upon request.
%div{:style => "padding:10px;border:1px solid black;width:95%"}
  %p Participating Institution Legal Name: #{@institution.name}
  %p.glossary-fwa FWA #: #{@institution.fwa.num}
  %p
    %span{:style => "font-size:20px;"}
      = @unchecked_box.html_safe
    Check here if Participating Institution does not maintain an IRB
  %p
    %span{:style => "font-size:20px;"}
      = @unchecked_box.html_safe
    Check here if Participating Institution maintains an IRB(s)
  %p This Agreement covers the above-identified Participating Institution only and does not include any other separate FWA-holding entities with which the Participating Institution(s)/its IRB(s) is affiliated or has an IRB reliance relationship. Each affiliate or other entity that has its own separate FWA will need to execute its own Joinder Agreement in order to participate in the Agreement.
%div{:style => "padding:10px;border:1px solid black;width:95%;page-break-before:always;"}
  %p
    %span{:style => "text-decoration:underline;"} Notices.
    All written notices and other communications required under the Agreement from any other Participating Institution to Joining Institution may be made in hard copy or electronic form and shall be delivered to the following address(es):
  %p
    For notice:
    %br/
    NAME: #{@institution.poc_first_name} #{@institution.poc_last_name}
    %br/
    TITLE: #{@institution.poc_title}
    %br/
    INSTITUTION:
    %br/
    TOWN, STATE, ZIP:
    %br/
    Email address: #{@institution.poc_email}
  %p
    With a copy to: (Add as many as apply)
    %br/
    NAME: #{@institution.altpoc_first_name} #{@institution.altpoc_last_name}
    %br/
    TITLE: #{@institution.altpoc_title}
    %br/
    INSTITUTION:
    %br/
    TOWN, STATE, ZIP:
    %br/
    Email address: #{@institution.altpoc_email}
%div{:style => "padding:10px;width:100%"}
  %p Agreed by the authorized Institutional Official/Signatory of the Participating Institution
.hr
(Authorized Institutional Official/Signatory)
%br/
%br/
%br/
%div{:style => "padding:10px;width:100%"}
  %p
    Name: #{@institution.io_first_name} #{@institution.io_last_name}
  %p
    Title: #{@institution.io_title}
  %p Date:
