.text-left.text-small.pad-left-20
  = link_to 'Studies', studies_path unless folder.is_admin?
  - this_folder = folder
  - folders = []
  - while folder.parent
    - folders << folder.parent
    - folder = folder.parent
  - folders = folders.reverse
  - folders.each do |folder|
    = '&nbsp;&nbsp;>&nbsp;&nbsp;'.html_safe unless this_folder.is_admin? && folder == Folder.admin_root
    = link_to folder.name, folder_path(folder.id)
  = '&nbsp;&nbsp;>&nbsp;&nbsp;'.html_safe unless this_folder == Folder.admin_root
  = this_folder.name
