- study = folder.associated_study  
%ul.nav.nav-stacked.text-left.text-small
  - if writeable
    %li
      New
      %hr
    %ul
      %li
        = link_to image_tag('folder_plus.png'), '#', class: 'new-folder'
        = link_to 'Folder', '#', class: 'new-folder'
      %li{style: 'margin-top:5px;'}
        = link_to image_tag('file_plus.png'), '#', class: 'new-upload'
        = link_to ' File', '#', class: 'new-upload'
  - if study
    %li.pad-top-20
      Study Docs
      %hr
      %ul
        %li
          = link_to image_tag('folder_closed.png'), folder_path(study.root_folder.id)
          = link_to truncate(study.title, length: 28), folder_path(study.root_folder.id)
    - reviewing_site = study.reviewing_site
    - if reviewing_site && current_user.can_read_folder?(reviewing_site.root_folder)
      %li.pad-top-20
        Reviewing Site Docs
        %hr
      %ul
        %li
          = link_to image_tag('folder_closed.png'), folder_path(reviewing_site.root_folder.id)
          = link_to truncate(reviewing_site.institution.name, length: 28), folder_path(reviewing_site.root_folder.id)
    - if study.relying_sites
      %li.pad-top-20
        Relying Site Docs
        %hr
      - study.relying_sites.each do |site|
        %ul
          %li{style: 'margin-top: 5px;'}
            = link_to image_tag('folder_closed.png'), folder_path(site.root_folder.id)
            = link_to truncate(site.institution.name, length: 28), folder_path(site.root_folder.id)
