= render 'breadcrumbs', folder: @folder 
.col-xs-12.col-sm-5.col-md-4.col-lg-3.well
  = render 'sidebar', folder: @folder, writeable: @writeable
.col-xs-12.col-sm-7.col-md-8.col-lg-9
  .docs-container.text-small
      
    .doc-item{style: 'text-align:center'}= @folder.name

    - if @writeable
      .doc-item#new-folder-form
        = form_for Folder.new, html: {style: 'display:inline'} do |f|
          = image_tag 'folder_closed.png'
          = f.hidden_field :parent_id, value: @folder.id
          = f.text_field :name, size: '30', placeholder: 'Name', id: 'new-folder-name'
          = f.submit 'Create'
        = button_tag 'Cancel', class: 'btn btn-primary', id: 'cancel-new-folder'

      .doc-item#new-upload-form
        = form_for Upload.new, html: {style: 'display:inline;', multipart: true} do |f|
          = image_tag 'file.png'
          = f.hidden_field :folder_id, value: @folder.id
          = f.hidden_field :kind, value: 'study'
          = f.file_field :doc, style: 'display:inline;margin-top:20px', id: 'file-select' 
          = f.submit 'Upload'
        = button_tag 'Cancel', class: 'btn btn-primary', id: 'cancel-new-upload'

    - if !@folder.children.first && !@folder.uploads.first
      .doc-item{style: 'text-align:center;'}
        Nothing here yet! 
        - if @writeable
          Use the New Folder or New File Links to Add Content.
        - else
          (You do not have write access to this folder.)

    - @folder.children.each do |folder|
      .doc-item
        = link_to image_tag('folder_closed.png'), folder_path(folder.id), class: 'folder-context-menu', id: "folder-#{folder.id}"
        = link_to folder.name, folder_path(folder.id),
          class: 'folder-link folder-context-menu',
          id: "folder-#{folder.id}",
          title: "Updated at #{format_date_time(folder.updated_at)}"
        
        %span.folder-rename-form{id: "folder-#{folder.id}"}
          = form_for folder, method: :patch, html: {style: 'display:inline'} do |f|
            = f.hidden_field :id, value: folder.id
            = f.text_field :name, class: 'folder-rename-text-field', id: "folder-#{folder.id}", size: 40
            = f.submit 'Rename'
          = button_tag 'Cancel', class: 'btn btn-primary cancel-folder-rename', id: "folder-#{folder.id}"

        = link_to 'Delete Folder', folder_path(folder.id), method: :delete, class: 'folder-delete-link',
          id: "folder-#{folder.id}", style: 'display:none',
          :data => {:confirm => "This will permanently delete #{folder.all_child_uploads.length} documents. Are you sure?"}

    - @folder.uploads.each do |upload|
      .doc-item
        = link_to image_tag('file.png'), download_upload_path(upload.id), class: 'upload-context-menu', id: "upload-#{upload.id}"
        = link_to upload.doc_file_name.truncate(40), download_upload_path(upload.id),
          class: 'upload-link upload-context-menu',
          id: "upload-#{upload.id}",
          title: "Updated at #{format_date_time(upload.updated_at)}"

        %span.upload-rename-form{id: "upload-#{upload.id}"}
          = form_for upload, method: :patch, html: {style: 'display:inline'} do |f|
            = f.hidden_field :id, value: upload.id
            = f.text_field :doc_file_name, class: 'upload-rename-text-field', id: "upload-#{upload.id}", size: 40
            = f.submit 'Rename'
          = button_tag 'Cancel', class: 'btn btn-primary cancel-upload-rename', id: "upload-#{upload.id}"

        = link_to 'Delete Upload', upload_path(upload.id), method: :delete, class: 'upload-delete-link',
          id: "upload-#{upload.id}", style: 'display:none',
          :data => {:confirm => "Are you sure that you want to permanently delete this document?"}

-# Hide the unhelpful Bootstrap help text in new upload form
:javascript
  $('.help-block').hide();
