.row 
  .col-md-12
    %strong
      .text-left Click on a column header to sort
    .panel.panel-default.table-responsive
      %table.table.table-striped.sorted-table
        %thead
          %tr
            %th.small-text{style: 'border-top-left-radius:3px;border:none;'} Name
            %th.small-text{style: 'border:none;'} Email
            %th.small-text{style: 'border:none;'} Institution
            %th.small-text{style: 'border:none;'} Title
            %th.small-text{style: 'border:none;'} Invite / Invited At
            %th.small-text{style: 'border-top-right-radius:3px;border:none;'} Delete
        %tbody
          - Downloader.not_deleted.order('created_at DESC').all.each do |downloader|
            %tr
              %td.small-text= "#{downloader.first_name} #{downloader.last_name}"
              %td.small-text= downloader.email
              %td.small-text= downloader.institution_name
              %td.small-text= downloader.title
              - invite_link_text = !!downloader.invited_at ? 'Re-invite' : 'Invite'
              %td.small-text{'data-target': "#invite-#{downloader.id}", 'data-toggle': 'modal'}
                = format_date(downloader.invited_at) if downloader.invited_at
                = link_to invite_link_text, '#'
              = render 'invite_modal', downloader: downloader
              %td.small-text
                = form_for downloader, url: delete_downloader_path, method: 'post' do |f|
                  = f.hidden_field :id, value: downloader.id
                  = link_to 'Delete', nil, class: 'submit-downloader-delete', confirm: 'Balls'
