.modal.fade{id: "institution-#{institution.id}", 'aria-labelledby': 'modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4#modal-label.modal-title= institution.name
      .modal-body
        = render 'institution_details', institution: institution
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
