.row 
  .col-md-12
    %strong
      .text-left Click on a column header to sort
    .panel.panel-default.table-responsive
      %table.table.table-striped.sorted-table
        %thead
          %tr
            %th.small-text{style: 'border-top-left-radius:3px;border:none;'} Institution
            %th.small-text{style: 'border:none;'} Created at
            %th.small-text{style: 'border:none;'} Created by
            %th.small-text{style: 'border:none;'} Status
            %th.small-text{style: 'border-top-right-radius:3px;border:none;'} Users
        %tbody
          - Institution.order('created_at DESC').all.each do |institution|
            %tr
              %td.small-text= institution.name
              %td.small-text= format_date(institution.created_at)
              - creator = User.find(institution.creating_user_id)
              %td.small-text= creator.email
              - status = institution.status
              - status = institution.submission.status if institution.submission
              %td.small-text= status.titleize
              %td.small-text= institution.users.count
