.modal.fade{id: "invite-#{downloader.id}", 'aria-labelledby': 'modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4#modal-label.modal-title Invite User to SMART IRB
      .modal-body
        = form_tag invite_path do
          = hidden_field_tag :id, downloader.id
          = submit_tag "Invite #{downloader.email} to SMART IRB"
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close

