.modal.fade{id: "notes-#{submission.id}", 'aria-labelledby': 'modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4#modal-label.modal-title= submission.institution.name
      .modal-body
        %p.text-left
          %strong Notes for this submission:
        %p.text-left
          = form_for submission, url: submission_path(submission), method: 'patch', namespace: "notes_#{submission.id}" do |f|
            %p= f.text_area :notes, rows: 10, class: 'text_area', style: 'width: 100%'
            %p= f.submit 'Update Submission Notes'
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
