.modal.fade{id: "review-#{submission.id}", 'aria-labelledby': 'modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4#modal-label.modal-title{style: 'padding:10px;'}= submission.institution.name
      .modal-body
        %p.text-left
          %strong Select the new status for this submission:
        %p.text-left
          = form_for submission, url: submission_path(submission), method: 'patch', namespace: "submission_#{submission.id}" do |f|
            = f.radio_button :status, 'needs_revision'
            = f.label :status, 'Needs Revision', value: 'needs_revision', style: 'font-weight: normal;'
            %br
            = f.radio_button :status, 'approved'
            = f.label :status, 'Activated', value: 'approved', style: 'font-weight: normal;'
            %br
            = f.radio_button :status, 'rejected'
            = f.label :status, 'Not Activated', value: 'rejected', style: 'font-weight: normal;'
            .status-change-email
              .centered
                %fieldset.form-fieldset{style: 'padding-bottom:0px;'}
                  %legend
                    %strong Email
                  %p.text-left
                    %strong This email will be sent to the institution's three identified contacts, and to the submitter. You will also recieve a copy.
                  - institution = submission.institution
                  %span{style: 'display:table-cell;'} To:
                  %p.text-left{style: 'display:table-cell;vertical-align:top;padding-left:4px;'}= "#{institution.poc_email}, #{institution.altpoc_email}, #{institution.io_email}, #{submission.submitter.email}"
                  %p.text-left= "Cc: #{current_user.email}"
                  %p.text-left= text_area_tag 'email_body', nil, rows: 10, placeholder: 'Type email body here.', required: true
              %p.text-center= f.submit 'Update Submission Status and Send Email'
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
