.text-left.col-md-4
  .panel.panel-default
    %table.table.table-striped
      %th.small-text Submission Status
      %th.small-text Count
      %th.small-text.text-center Show
      %tr
        %td.small-text Under Review
        %td.small-text= Submission.where(status: 0).count
        %td.text-center= check_box_tag '', nil, true, class: 'submission_type_check_box', id: 'needs_review'
      %tr
        %td.small-text Needing Revision
        %td.small-text= Submission.where(status: 1).count
        %td.text-center= check_box_tag '', nil, true, class: 'submission_type_check_box', id: 'needs_revision'
      %tr
        %td.small-text Activated
        %td.small-text= Submission.where(status: 2).count
        %td.text-center= check_box_tag '', nil, true, class: 'submission_type_check_box', id: 'approved'
      %tr
        %td.small-text Not Activated
        %td.small-text= Submission.where(status: 3).count
        %td.text-center= check_box_tag '', nil, true, class: 'submission_type_check_box', id: 'rejected'
      %tr
        %td.small-text Total
        %td.small-text= Submission.count
        %td
