.row
  = render 'stats'
.row 
  .col-md-12
    %strong
      .text-left Click on a column header to sort
    .panel.panel-default.table-responsive
      %table.table.table-striped.sorted-table
        %thead
          %tr
            %th.small-text{style: 'border-top-left-radius:3px;border:none;'} Institution
            %th.small-text{style: 'border:none;'} Submitter
            %th.small-text{style: 'border:none;'} Submission
            %th.small-text{style: 'border:none;'} Submission Status
            %th.small-text{style: 'border:none;'} Last update
            %th.small-text{style: 'border:none;'} Internal Notes 
            %th.small-text{style: 'border-top-right-radius:3px;border:none;'} Approved By
        %tbody
          - Submission.order('updated_at DESC').all.each do |submission|
            %tr{class: submission.status}
              - institution = submission.institution
              %td.small-text{'data-target': "#institution-#{institution.id}", 'data-toggle': 'modal'}= link_to institution.name, '#'
              = render 'institution_modal', institution: institution
              - user = User.find(submission.created_by)
              %td.small-text{'data-target': "#user-#{user.id}", 'data-toggle': 'modal'}= link_to user.email, '#'
              = render 'user_modal', user: user
              %td.small-text= link_to truncate(submission.upload.doc_file_name, size: 40), download_joinder_path(submission.upload.id), target: '_blank'
              %td.small-text{'data-target': "#review-#{submission.id}", 'data-toggle': 'modal'}= link_to submission.status_label.titleize, '#'
              = render 'review_modal', submission: submission
              %td.small-text= format_date_time submission.updated_at
              %td.small-text{'data-target': "#notes-#{submission.id}", 'data-toggle': 'modal'}= link_to 'Notes', '#'
              = render 'notes_modal', submission: submission
              - if submission.approver_id
                %td.small-text= User.find(submission.approver_id).email
              - else
                %td
