.modal.fade{id: "user-#{user.id}", 'aria-labelledby': 'modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4#modal-label.modal-title= "#{user.first_name} #{user.last_name}, #{user.degrees.upcase.gsub(',', ', ')}"
      .modal-body
        %p
          .text-left= user.email
          .text-left= user.phone
          .text-left= "Title: #{user.title}"
        %p
          .text-left= "Created at: #{format_date_time user.created_at}"
          .text-left= "Last Sign In: #{format_date_time user.last_sign_in_at if user.last_sign_in_at}"
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
