.row 
  .col-md-12
    %strong
      .text-left Click on a column header to sort
    .panel.panel-default.table-responsive
      %table.table.table-striped.sorted-table
        %thead
          %tr
            %th.small-text{style: 'border-top-left-radius:3px;border:none;'} Name
            %th.small-text{style: 'border:none;'} Role
            %th.small-text{style: 'border:none;'} Active
            %th.small-text{style: 'border:none;'} Email
            %th.small-text{style: 'border:none;'} Institution
            %th.small-text{style: 'border:none;'} Phone
            %th.small-text{style: 'border:none;'} Title
            %th.small-text{style: 'border-top-right-radius:3px;border:none;'} Degrees
        %tbody
          - User.order('created_at DESC').all.each do |user|
            %tr
              %td.small-text= truncate("#{user.first_name} #{user.last_name}", length: 30)
              %td.small-text= user.role.name.capitalize
              %td.small-text.text-center
                = form_for user, url: update_active_path, method: 'post' do |f|
                  = f.check_box :active, class: 'toggle-user-active', data: { user_id: user.id }, disabled: user == current_user
              %td.small-text= truncate(user.email, length: 30)
              %td.small-text= user.institution.try(:name)
              %td.small-text= truncate(user.phone, length: 30)
              %td.small-text= truncate(user.title, length: 30)
              %td.small-text= user.degrees.upcase.gsub(',', ', ') if user.degrees
