%ul.nav.nav-tabs
  %li.active.tab
    %a{class: 'tab-link', 'data-toggle': 'tab', href: '#submissions'} Joinder Submissions
  %li.tab
    %a{class: 'tab-link', 'data-toggle': 'tab', href: '#institutions'} Institutions
  %li.tab
    %a{class: 'tab-link', 'data-toggle': 'tab', href: '#users'} Users
  %li.tab
    %a{class: 'tab-link', 'data-toggle': 'tab', href: '#downloaders'} Downloaders
.tab-content
  #submissions.tab-pane.active= render 'submissions'
  #institutions.tab-pane= render 'institutions'
  #users.tab-pane= render 'users'
  #downloaders.tab-pane= render 'downloaders'
