%h3 Please tell us a little bit more about yourself.
.centered.fixed-320.pad-top-20
  %i Required fields are marked with
  = required
  = bootstrap_form_for @user, url: save_profile_path, method: 'post' do |f|
    .field
      = f.label :first_name
      = required
      = f.text_field :first_name, value: @user.first_name ? @user.first_name : @downloader.try(:first_name)
    .field
      = f.label :last_name
      = required
      = f.text_field :last_name, value: @user.last_name ? @user.last_name : @downloader.try(:last_name)
    .field
      = f.label :phone
      = required
      = f.text_field :phone
    .field
      = f.label :title
      = required
      = f.text_field :title, value: @user.title ? @user.title : @downloader.try(:title)
    .field
      %div
        %b Degree(s)
        = required
        %br
        %i Please check all that apply. If the exact degree isn't listed, use the closest equivalent.
      %div#degree-container{class: field_class(@user, :degrees)}
        - User.available_degrees.each do |degree|
          = f.check_box :degrees, {label: degree, multiple: true, checked: @degrees.include?(degree.downcase)}, degree.downcase, nil
    .field.pad-top-20
      = f.submit 'Save Profile'
      - if @user.profile_complete?
        %span= link_to 'Back', root_url, class: 'btn btn-primary'
