= devise_error_messages!
%h2 Change your password
.centered.fixed-320
  = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.hidden_field :reset_password_token
    .field
      %em
        (8 characters minimum)
      %br/
      = f.password_field :password, autofocus: true, autocomplete: "off", hide_label: true, placeholder: 'New Password'
    .field
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password'
    .actions
      = f.submit "Change my password"
  = render "devise/shared/links"
