= devise_error_messages!
.centered.fixed-320
  %h3 Forgot your password?
  = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .field
      = f.email_field :email, autofocus: true, placeholder: 'Email'
    .actions
      .pad-top-20= f.submit "Send me reset password instructions"
  .pad-top-20= render "devise/shared/links"
