%h3 Your institution's participation in SMART IRB has been activated!
%p
  %h4.text-center{style: 'line-height:1.5em'} If you have questions about next steps, please email admin@smartirb.org.
- if @notes
  %p.text-left{style: 'padding-top: 20px'} Notes from the SMART IRB team regarding your submission's status:
  %p.text-left= simple_format(@notes, class: 'notes')
