%h3 We are unable to activate your application to join SMART IRB.
%p
  %h4.text-center{style: 'line-height:1.5em'} Please review the notes below from the SMART IRB team. If you have questions, please email email_tbd@smartirb.org
- if @notes
  %p.text-left{style: 'padding-top: 20px'} Notes from the SMART IRB team regarding your submission's status:
  %p.text-left= simple_format(@notes, class: 'notes')
