%h3 Your application to join SMART IRB needs revision.
%p
  %h4.text-left{style: 'line-height:1.5em'} Use the links at the left to revise your submission as described below and submit a new signed Joinder Agreement.
%p
  %ul.text-left{style: 'line-height:2em'}
    %li 1. Update registration information as needed 
    %li 2. Download an updated Joinder Agreement 
    %li 3. Print, sign, and scan the updated Joinder Agreement 
    %li 4. Upload the new scanned Joinder Agreement 
    %li 5. Submit
- if @notes
  %p.text-left{style: 'padding-top: 20px'} Notes from the SMART IRB team regarding your submission's status:
  %p.text-left= simple_format(@notes, class: 'notes')
