%h3.text-left.glossary-joinder= "Thank you for submitting a signed joinder agreement for #{@institution.name}."
%h4.text-left
  A member of the SMART IRB team will review the information provided for this institution, along with the signed Joinder Agreement. Please do not proceed with any activities under the SMART IRB Agreement until you have received notification confirming your institution’s participation in SMART IRB.
  %br
  %br
  You, the listed POCs, and the signatory official will be notified by email once this submission has been reviewed.
