.white.big-text.pad-bottom-30 Download the SMART IRB Agreement
.white.pad-bottom-30.light-grey Thank you for your interest in SMART IRB.
.white.pad-bottom-30.light-grey Downloading the SMART IRB Agreement is the first step to joining SMART IRB. In general, IRB administrators or other research compliance personnel will be best suited to initiate this process, due to the nature of the information required in subsequent steps.
.white.pad-bottom-30.light-grey The appropriate human research protections officials at your institution should review the agreement prior to determining whether to join SMART IRB. Downloading the agreement does not obligate your institution to join SMART IRB, and simply joining SMART IRB  does not obligate an institution to participate in any research or reliance arrangement under the SMART IRB Agreement.
.white.pad-bottom-15 To download the SMART IRB agreement, please fill out the information below. All fields are required.
#form-container
  = bootstrap_form_for @downloader do |f|
    .row
      .col-md-4
        .field.pad-top-20
          = f.text_field :first_name, label: '', placeholder: 'First Name', class: 'downloader-validate', autofocus: true
      .col-md-4
        .field.pad-top-20
          = f.text_field :last_name, label: '', placeholder: 'Last Name', class: 'downloader-validate'
      .col-md-4
        .field.pad-top-20
          = f.text_field :email, label: '', placeholder: 'Email', class: 'downloader-validate'
    .row
      .col-md-4
        .field.pad-top-20
          = f.text_field :title, label: '', placeholder: 'Title at Institution', class: 'downloader-validate'
      .col-md-4
        .field.pad-top-20
          = f.text_field :institution_name, label: '', placeholder: 'Institution', class: 'typeahead downloader-validate'
      .col-md-4
    %div{style: 'width:303px;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:20px;'}= recaptcha_tags
    %div.pad-top-20.text-center=f.submit 'Download', id: 'downloader-submit', disabled: true, style: 'background-color: #428bca !important;'
:javascript
  getFwaNames();
