.white.big-text.text-center{style: 'padding-bottom: 30px;'} Thank you for downloading the SMART IRB agreement.
.white.big-text.text-center Please contact us if you have any questions.
#form-container
  = bootstrap_form_for @downloader, url: download_path, method: :post do |f|
    = f.hidden_field :id, value: @downloader.id
    = f.submit '', class: 'hidden', id: 'download-now'
:javascript
  $('#download-now').click();
