- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env

%p
  = "#{@user.first_name} #{@user.last_name}"
  has submitted a SMART IRB Joinder Agreement for
  = "#{@institution_name}."
%p
  Log into the SMART IRB administration site to review and process this request here:
  - url = new_user_session_url(protocol: protocol)
  = link_to url, url
