- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env

%p
  The following individual has downloaded the SMART IRB agreement:
%p
  = "First name: #{@downloader.first_name}"
  %br
  = "Last name: #{@downloader.last_name}"
  %br
  = "Email: #{@downloader.email}"
  %br
  = "Title: #{@downloader.title}"
  %br
  = "Institution: #{@downloader.institution_name}"

%p
  To invite this person to create a user account and join SMART IRB, log into the SMART IRB administration site here:
  - url = new_user_session_url(protocol: protocol)
  = link_to url, url

