- protocol = 'https'
- protocol = 'http' if ['test', 'development'].include? Rails.env

%p
  This automated message is from the SMART IRB application. A new user has regsistered in the system with the email
  = "#{@user_email}."

%p
  You can log into the SMART IRB administration site here:
  = link_to new_user_session_url(protocol: protocol), new_user_session_url(protocol: protocol)
