%h3.margin-bottom-20
  = @study.title
  = link_to "<span style='font-size:18px;', class='fa fa-pencil'></span>".html_safe, edit_study_title_path(@study.id)
- reviewing_site = @study.reviewing_site
- if reviewing_site
  %h4.margin-bottom-20.text-left
    = "Reviewing Site: #{reviewing_site.try(:institution).try(:name)}"
    = link_to "<span class='fa fa-pencil'></span>".html_safe, edit_site_path(reviewing_site.id)
- relying_sites = @study.relying_sites
- if relying_sites.first
  %h4.text-left Relying Sites:
  .margin-bottom-20
    - relying_sites.each do |site|
      .text-left.pad-left-40
        = site.institution.name
        = button_to site_path(site.id), method: :delete, class: 'icon-button', onclick: 'return confirm("Are you sure? This will delete the site and all associated documents!")' do
          <span class='fa fa-trash-o'></span>
  
.text-left
  = link_to 'Add a relying site for this study', '#', class: 'btn btn-primary', id: 'reveal-new-site', style: 'margin-top: 5px;'
  = link_to 'Done editing this study', studies_path, class: 'btn btn-primary', style: 'margin-top: 5px;'
#new-relying-site{style: 'display:none;'}
  = bootstrap_form_for Site.new, html: {class: 'text-left'}  do |f|
    = f.hidden_field :study_id, value: @study.id
    = f.hidden_field :reviewing, value: 0
    = f.label :institution, 'Relying Site'
    = f.select :institution, options_for_select(@institution_names), placeholder: 'Institution Name', include_blank: true
    = f.submit 'Add Site'

:javascript
  getApprovedInstitutionNames();

