= bootstrap_form_for @study, url: study_path, method: :put, html: {class: 'text-left'}  do |f|
  = f.hidden_field :id, value: @study.id
  = f.label :title, 'New Study Title'
  = f.text_field :title
  = f.submit 'Save'
