.row
  .col-xs-12
    .text-left.center-block
      - if current_user.privileged?
        %p= link_to 'Create a new study', new_study_path, class: 'btn btn-primary margin-bottom-20'
      - else
        %p.text-center To have a new study created, please contact SMART IRB staff using the Contact link above.
      %strong
        - if current_user.privileged?
          Existing Studies
        - else
          = "Studies Including #{current_user.institution.name}"
      .panel.panel-default.table-responsive
        %table.table.table-striped.sorted-table
          %thead
            %tr
              %th.small-text{style: 'border-top-left-radius:3px;border:none;'}
                Title
                - if current_user.privileged?
                  (click to edit)
              %th.small-text{style: 'border:none;'} Documents (click to manage)
              %th.small-text{style: 'border:none;'} Created
              %th.small-text{style: 'border:none;'} Reviewing institution
              %th.small-text{style: 'border-top-right-radius:3px;border:none;'} Relying institutions
          %tbody
            - @studies.each do |study|
              %tr
                - if current_user.privileged?
                  %td.small-text= link_to study.title, edit_study_path(study.id)
                - else
                  %td.small-text= study.title
                %td.small-text.text-center= link_to image_tag('folder_closed.png'), folder_path(study.root_folder.id)
                %td.small-text= format_date(study.created_at)
                %td.small-text= study.reviewing_site.try(:institution).try(:name)
                %td.small-text= study.relying_sites.count
