%h3.text-left
  When you are ready to proceed, submit your institution's 
  %span.glossary-joinder signed joinder agreement.
%h4.text-left Your latest upload is shown below. This file will be included with your submission.
.pad-top-20
  %table.table.table-striped
    %tr
      %th File Name
      %th Uploaded By
      %th Uploaded At
    %tr
      %td= link_to truncate(@upload.doc_file_name, size: 40), download_joinder_path(@upload.id), target: '_blank'
      %td= @upload.user.email
      %td= @upload.created_at.strftime("%m/%d/%y %I:%M %p")

.pad-top-20
  = form_for @submission do |f|
    = f.hidden_field :upload_id, value: @upload.id
    = link_to '&#x25c0 Upload A Revised File'.html_safe, new_joinder_upload_path, class: 'btn btn-primary'
    = f.submit 'Submit Agreement Now', onclick: 'return confirm("Are you sure you are ready to submit this signed document? This action cannot be undone.")'
