%h3 Could not find any institutions for:
.centered
  %p.text-left.pad-top-20
    %span.width-150.glossary-fwa FWA Number:
    = @fwa_params[:num].blank? ? '<i class="light">any</i>'.html_safe : @fwa_params[:num]
  %p.text-left
    %span.width-150 Institution Name:
    = @fwa_params[:name].blank? ? '<i class="light">any</i>'.html_safe : @fwa_params[:name]
  %p.text-left
    %span.width-150 City:
    = @fwa_params[:city].blank? ? '<i class="light">any</i>'.html_safe : @fwa_params[:city]
.pad-top-20= link_to '&#x25c0 Back to Search Form'.html_safe, fwa_search_path, class: 'link-button'
