%h3 Institution search results. If you see your institution, please click on it.
.panel.panel-default.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th.glossary-fwa FWA Number
        %th Name
        %th City
        %th State
    %tbody
    - @fwas.each do |fwa|
      %tr.fwa-row
        %td.fwa-cell
          = fwa.num
          = link_to '', fwa_select_path(fwa.id), class: 'hidden-link'
        %td.fwa-cell
          = fwa.name
          = link_to '', fwa_select_path(fwa.id), class: 'hidden-link'
        %td.fwa-cell
          = fwa.city.titleize
          = link_to '', fwa_select_path(fwa.id), class: 'hidden-link'
        %td.fwa-cell
          = fwa.state
          = link_to '', fwa_select_path(fwa.id), class: 'hidden-link'

.pad-top-20= link_to '&#x25c0 Back to Search Form'.html_safe, fwa_search_path, class: 'link-button'
