%h3 Search for your institution. Fill out at least one field.
%div
  This is the institution for which you are initiating the SMART IRB Joinder process.
  %br
  If you would like to initiate the process for more than one institution, please contact us.
.centered.fixed-320.pad-top-20
  #form-container
    = bootstrap_form_for Fwa.new, url: fwa_search_results_path do |f|
      %div
        = f.text_field :num, hide_label: true, placeholder: 'FWA Number', class: 'glossary-fwa'
      %div
        = f.text_field :name, hide_label: true, class: 'typeahead', placeholder: 'Institution Name'
      %div
        = f.text_field :city, hide_label: true, placeholder: 'City'
      %div.text-center
        = f.submit 'Search'
:javascript
  getFwaNames();
