.text-left
  %h3= "You chose #{@fwa.name} in #{@fwa.city.titleize}, #{@fwa.state} as your institution. Is this correct?"
  %p.pad-top-20.text-center= link_to "Yes, #{@fwa.name} is my institution", assign_institution_path(@fwa.id), class: 'btn btn-primary', data: {confirm: 'Are you sure? This action cannnot be undone.'}
  %p.pad-top-20.text-center= link_to '&#x25c0 No, take me back to the search page'.html_safe, fwa_search_path, class: 'btn btn-primary'
