%h2 Welcome to the SMART IRB Joinder System.
%p Now that you've created your SMART IRB account, you can begin the process of joining SMART IRB.
%p
  To get started, please 
  = link_to 'select your institution.', fwa_search_path
