= devise_error_messages!
.centered.fixed-320
  %h2
    Log in to
    = app_name
  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.email_field :email, autofocus: true, placeholder: 'Email', required: true, title: 'Must be a valid email.'
    .field
      = f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true, title: 'Must be a valid password.'
    .actions
      = f.submit "Log in"
  %p.pad-top-20
    = render "devise/shared/links"
