// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

var fwaNames = null;

// Load Rails URL helpers
<% url = Ticrely::Application.routes.url_helpers %>

$(function() {
  // Navigates to hidden links in FWA search results table
  $('.fwa-cell').click( function() {
    window.location = $(this).find('a').attr('href');
  });
});

var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;
    // an array that will be populated with substring matches
    matches = [];
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

// Gets an array of all active, primary FWA names
function getFwaNames(){
  // Unfortunate hack to get the path working in production 
  var path = '<%= url.fwa_names_path %>';
  $.getJSON(path, function( json ) {
    fwaNames = json;

    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      limit: 20,
      name: 'fwaNames',
      source: substringMatcher(fwaNames)
    });

  });
}

// Gets an array of all approved institution names
function getApprovedInstitutionNames(){
  // Unfortunate hack to get the path working in production 
  var path = '<%= url.institution_names_path %>';
  $.getJSON(path, function( json ) {
    fwaNames = json;

    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      limit: 20,
      name: 'fwaNames',
      source: substringMatcher(fwaNames)
    });

  });
}
