// Load Rails URL helpers
<% url = Ticrely::Application.routes.url_helpers %>

$(function() {
  
  // Update user active status based on admin checkbox click
  $('.toggle-user-active').click( function(event) {
    var userID = $(this).data('user-id');
    var path = '<%= url.update_active_path %>';
    $.ajax({
      type: "POST",
      url: path,
      data: { 'user_id': userID }
    });
  })

})

