// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sortable-header{
  background-color: rgba(66, 139, 202, 1.0) !important;
  color: white;
  &:hover{
    cursor: pointer;
    background-color: rgba(48, 113, 169,1.0) !important;
  }
}

.status-change-email{
  display: none;
}

ul.nav.nav-tabs{
  margin-bottom: 20px;
}

nav#admin-navbar.navbar.navbar-default{
  background-color: #cce;
  border-radius: 0px;
  border: none;
}

ul.nav.navbar-nav.admin-nav li a{
  color: rgb(66, 129, 202) !important;
  text-decoration: none;
  &:hover{
    background-color: #ddd;
  }
}

ul.nav.navbar-nav.admin-nav li{
  padding: 0px;
}

button.icon-button{
  display: inline !important;
  background: none;
  border: none;
  color: #428bca;
}

.button_to, .button_to div{
  display: inline !important;
}

.text-small{
  font-size: 14px;
}
