// Place all the styles related to the Downloaders controller here.  // They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.control-label{
  display: none;
}

body#downloads-body {
    background-color: #2b5aa1; /* updated 20160421 */
    padding: 0 35px 0 35px;
}

.container#downloads-container {
    max-width: 1100px;
    background-color: #2b5aa1; /* updated 20160421 */
    padding: 30px;
}

.white{
  color: white;
}

.light-grey{
  color: #ddd;
}

.big-text{
  font-size: 32px;
}

.pad-bottom-30{
  padding-bottom: 30px;
}

.pad-bottom-15{
  padding-bottom: 15px;
}
