// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.docs-container{
  margin: 20px;
}

.doc-item{
  text-align: left;
  padding: 15px 0px 15px 40px;
  border-bottom: 1px solid #ddd;
}

img{
  margin-right: 10px;
}

#new-folder-form, #new-upload-form{
  display:none;
}

.context-menu-root{
  box-shadow: 1px 1px 10px #ccc;
  background-color: white;
  padding: 15px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

.context-menu-item{
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
  &:hover{
    background-color: #ccc;
    cursor: pointer;
  }
}

.folder-rename-form, .upload-rename-form{
  display: none;
}
