// Place all the styles related to the fwas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Hidden links in FWA search result rows
a.hidden-link{
  position: absolute;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

// !important is needed to override Bootstrap
// table striping
tr.fwa-row:hover>td{
  cursor: pointer;
  color: white;
  background-color: rgba(66, 139, 202, 1.0) !important;
}

.tt-open{
  width: 320px;
  background-color: white;
  border: 1px #bbb solid;
  border-radius: 5px;
  padding: 5px;
}

.form-control.typeahead.tt-input{
  position: absolute;
  width: 100% !important;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  cursor: pointer;
  background-color: rgba(66, 139, 202, 1.0);
  color: white;
}

.twitter-typeahead { width: 100%; }
