// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass';

$break-small: 1020px;
$light_grey: #aaaaaa;

body{
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 16px;
  padding-bottom: 40px;
  background-color: #F4FAFB;
}

legend, label{
  color: #555;
}

input[type="text"], input[type="email"]{
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

label{
  padding-top: 10px;
}

.light{
  color: $light_grey;
}

.padded-top{
  padding-top: 5em;
}

.pad-top-10{
  padding-top: 10px;
}

.pad-top-20{
  padding-top: 20px;
}

.pad-top-40{
  padding-top: 40px;
}

.pad-left-40{
  padding-left: 40px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-left-20{
  margin-left: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.row-centered{
  text-align: center;
}

div.centered{
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

div.fixed-320{
  width: 320px;
}

div.fixed-420{
  width: 420px;
}

div.fixed-600{
  width: 600px;
}

div.fixed-700{
  width: 700px;
}

div.fixed-750{
  width: 750px;
}

.checkbox-label{
  display: inline;
}

.red{
  color: red;
}

.width-220{
  display: inline-block;
  width: 220px;
}

.width-150{
  display: inline-block;
  width: 150px;
}

.width-130{
  display: inline-block;
  width: 130px;
}

.none{
  display: none;
}

.small-text{
  font-size: 14px;
}

.light-gray{
  color: #ddd;
}

.tall-line{
  line-height: 2.5em;
}

.red-border{
  border: 2px solid red;
}

@media only screen and (min-width: 768px) {
  #main-content{
    padding-left: 40px;
  }
}

.field_with_errors{
  display: inline;
}

.form_error{
  border: 1px solid #b04141 !important;
}

.text-shadowed{
  text-shadow: 0px 1px 1px #4d4d4d;
}

textarea{
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 0px #dddddd;
}

th{
  font-weight: normal !important;
}

.sidebar-arrow{
  display: inline-block;
  width: 12px;
  color: #30AD23;
}

.notes{
  padding-left: 10px;
  text-align: left;
}
