// Place all the styles related to the institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset{ 
  padding:10px;
  margin: 20px 2px;
  border: 1px solid #ccc;
  max-width: 500px;
  border-radius: 5px;
}

legend{
  border-bottom: none;
  font-size: 16px;
  width: auto;
  margin: 10px;
}

.form-label{
  font-weight: normal;
}

label.horiz-answer{
  font-weight: normal;
  margin-right: 20px;
}

span.form-title{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}

.responsive-radio-button{
  margin-top:13px !important;
}

.responsive-radio-label{
  padding-top:10px;
  max-width:80%;
  vertical-align:top;
}

#accrediting-organization,
#pursued-accrediting-organization,
#ohrp-details,
#hrpp-other-description{
  display: none;
}
