// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.checkbox{
  display: inline-block;
  width: 80px;
}

div.form_error{
  padding: 5px;
  border-radius: 5px;
  border: 1px #A94442 solid;
}
