.centered.fixed-320
  %p
    Welcome to SMART IRB #{@email}!
  %p You can confirm your account email through the link below:
  %p= link_to 'Confirm my SMART IRB account', confirmation_url(@resource, confirmation_token: @token)
