%p
  Hello
  = "#{@resource.first_name},"
%p
  We've received your request to reset the password for your SMART IRB account.
%p
  To choose a new password, click the following link:
%p 
  = link_to 'Change my SMART IRB password', edit_password_url(@resource, reset_password_token: @token)
%p 
  If you did not attempt to reset your password, or if you have already managed to retrieve your password, you can ignore this message and continue using your current password.
%p 
  Please do not reply to this message, because responses go to an unmonitored mailbox. If you would like to contact us, email us at
  = "#{mail_to 'email_tbd@smartirb.org'}.".html_safe
