-# This navbar is only needed if the document management system is in use. It is disabled
-#  %nav.navbar.navbar-default#admin-navbar
-#    .container
-#      %ul.nav.navbar-nav.admin-nav
-#        %li= link_to 'Joinder Management', root_path
-#        %li.dropdown
-#          %a.dropdown-toggle{href: '#', 'role': 'button', 'data-toggle': 'dropdown', 'data-target': '#'} 
-#            Document Management
-#            %b.caret
-#          %ul.dropdown-menu{'role': 'menu'}
-#            %li
-#              = link_to 'Administrative Documents', folder_path(Folder.admin_root.id)
-#              = link_to 'Study-Specific Documents', studies_path
