-# Only needed for document management system, which is disabled
-# %nav.navbar.navbar-default#admin-navbar
-#   .container
-#     %ul.nav.navbar-nav.admin-nav
-#       %li= link_to 'Document Management', studies_path
