.modal.fade{id: "contact", 'aria-labelledby': 'modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
        %h4#modal-label.modal-title{style: 'padding:10px;'} Contact SMART IRB
      .modal-body
        = form_tag contact_path, method: :post do
          %p.text-left= "From: #{current_user.email}"
          %p.text-left= text_field_tag 'subject', nil, style: 'width: 100%;', placeholder: 'Subject'
          %p.text-left= text_area_tag 'email_body', nil, rows: 15, placeholder: 'Type email body here.', required: true
          %p.text-center= submit_tag 'Send Email'
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
