.container
  .row
    .col-xs-12.text-center
      = bootstrap_flash
  .row.row-centered
    - if user_signed_in? && !current_user.privileged? && !current_user.approved?
      .col-xs-12.col-sm-5.col-md-4.col-lg-3.well
        = render 'sidebar'
      .col-xs-12.col-sm-7.col-md-8.col-lg-9#main-content
        = yield
    - else 
      -# Admin content is made visible after page load by JS.
      .col-xs-12#admin-content{style: 'display:none;'}
        = yield
  = render 'footer'
