.navbar.navbar-default.navbar-static-top{style: 'margin-bottom: 0px;'}
  .container
    - if current_user
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %a.navbar-brand.text-shadowed{href: "#{root_url}", style: 'padding-left: 0px;margin-left:0px;'}
      = app_name
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        - if user_signed_in? && current_user.admin?
          %li.text-shadowed  Administration
        - if user_signed_in? && !current_user.privileged?
          %li.text-shadowed
            My institution: 
            - if current_user.institution
              %span.light-gray.text-shadowed= truncate(current_user.institution.name, length: 50)
            - else
              %span.light-gray.text-shadowed
                %i Not yet chosen
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.text-shadowed{style: 'padding:0px;margin:0px;'}
            = link_to "<span class='fa fa-user' style='margin-right: 3px;'></span>#{truncate(current_user.email, length: 40)}".html_safe, edit_user_registration_path, style: 'padding:0px 10px 0px 0px;display:inline;'
          - if !current_user.privileged?
            %li.text-shadowed{style: 'padding:0px;margin:0px;'}
              %span{'data-target': '#contact', 'data-toggle': 'modal'}
                = link_to 'Contact', '#', style: 'padding:0px 10px 0px 0px;'
          %li.log-in-out.text-shadowed{style: 'padding:0px;margin:0px;'}
            = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          - unless controller_name == 'sessions' && action_name == 'new'
            %li.log-in-out.text-shadowed{style: 'padding:0px;margin:0px;'}
              = link_to 'Log in', new_user_session_path
