.container
  - if user_signed_in? && !current_user.privileged? && !current_user.submission
    .row
      .col-xs-12
        %ul.progress-indicator
          %li{class: ((current_user.status == 'new') ? '' : 'completed ') + progress_bar_current('Choose Institution')}
            %span.bubble
            Choose Institution
          %li{class: ((['new', 'has_institution'].include? current_user.status) ? '' : 'completed ') + progress_bar_current('Profile')}
            %span.bubble
            Account Profile
          %li{class: (current_user.institution.try(:profile_complete?) ? 'completed ' : '') + progress_bar_current('Registration')}
            %span.bubble
            Institution Registration
          %li{class: (current_user.institution.try(:agreement_uploaded?) ? 'completed ' : '') + progress_bar_current('Agreement Upload')}
            %span.bubble
            Agreement Upload
          %li{class: progress_bar_current('Submit Agreement')}
            %span.bubble
            Submit Agreement
