- @user = current_user
- @institution = current_user.institution
- @submission = @institution.try(:submission)

%ul.nav.nav-stacked.text-left#sidebar
  %li
    My Account
    %hr
    %ul
      %li
        - unless @submission
          %span.small-text.sidebar-arrow= sidebar_arrow('Choose Institution').html_safe
        %span.width-130.small-text Choose Institution:
        %span.small-text= @institution ? 'Complete' : 'Incomplete'
      %li.menu-item
        - unless @submission
          %span.small-text.sidebar-arrow= sidebar_arrow('Profile').html_safe
        - if @user.institution
          %span.width-130.small-text= link_to 'Profile:', complete_profile_path 
        - else
          %span.width-130.small-text Profile:
        %span.small-text= @user.profile_complete? ? 'Complete' : 'Incomplete'

  - if @user && @institution
    %li.pad-top-20
      My Institution
      %hr
      %ul
        %li
          - unless @submission
            %span.small-text.sidebar-arrow= sidebar_arrow('Registration').html_safe
          - if @user.profile_complete? && [nil, 'needs_revision'].include?(@submission.try(:status))
            %span.width-130.small-text= link_to 'Registration:', register_institution_path
          - else
            %span.width-130.small-text Registration:
          - complete = @institution.profile_complete? ? 'Complete' : 'Incomplete'
          - complete = 'Please Review' if @submission.try(:status) == 'needs_revision'
          %span.small-text= complete
        %li
          - unless @submission
            %span.small-text.sidebar-arrow= sidebar_arrow('Agreement Upload').html_safe
          - if (!@submission && @institution.signatory_downloaded?) || (@submission && @submission.needs_revision? && @institution.profile_complete?)
            %span.width-130.small-text= link_to 'Agreement Upload:', new_joinder_upload_path
          - else
            %span.width-130.small-text Agreement Upload:
          - complete = @institution.agreement_uploaded? ? 'Complete' : 'Incomplete'
          - complete = 'Please Review' if @submission.try(:status) == 'needs_revision'
          %span.small-text= complete
        %li
          - unless @submission
            %span.small-text.sidebar-arrow= sidebar_arrow('Submit Agreement').html_safe
          - if (!@submission && @institution.agreement_uploaded?) || (@submission && @submission.needs_revision? && @institution.profile_complete?)
            - if @submission
              %span.width-130.small-text= link_to 'Submit Agreement:', edit_submission_path(@submission.id)
            -else
              %span.width-130.small-text= link_to 'Submit Agreement:', new_submission_path
          - else
            %span.width-130.small-text Submit Agreement:
          - complete = @institution.submitted? ? 'Complete' : 'Incomplete'
          - complete = 'Please Review' if @submission.try(:status) == 'needs_revision'
          %span.small-text= complete
        - if @submission
          %li
            - unless @submission
              %span.small-text.sidebar-arrow
            %span.width-130.small-text Submission Status:
            %span.small-text= @institution.submission.status_label.titleize

  %li.pad-top-20
    Downloads
    %hr
    %ul
      %li
        - unless @submission
          %span.small-text.sidebar-arrow
        %span.small-text= link_to 'Master Agreement', download_agreement_path
      - if @institution.try(:profile_complete?)
        %li
          - unless @submission
            %span.small-text.sidebar-arrow
          %span.small-text= link_to 'Joinder Agreement', download_signatory_path, class: 'glossary-joinder'
