%h3= "Update the Reviewing Institution for study: #{@study.title}"
= bootstrap_form_for @site, method: :put, html: {class: 'text-left'}  do |f|
  = f.hidden_field :id, value: @site.id
  = f.hidden_field :study_id, value: @study.id
  = f.hidden_field :reviewing, value: 1
  = f.label :institution, 'Reviewing Institution'
  = f.select :institution, options_for_select(@institution_names), placeholder: 'Institution Name', include_blank: true
  = f.submit 'Submit'
  = link_to 'Cancel', edit_study_path(@study.id), class: 'btn btn-primary'
