%h3.margin-bottom-20= @study.title
%h4.margin-bottom-20.text-left= "Reviewing Site: #{@study.reviewing_site.try(:institution).try(:name)}"
- relying_sites = @study.relying_sites
- if relying_sites.first
  %h4.text-left Relying Sites:
  .margin-bottom-20
    - relying_sites.each do |site|
      .text-left.pad-left-40= site.institution.name
  
.text-left
  = link_to 'Add a relying site for this study', '#', class: 'btn btn-primary', id: 'reveal-new-site', style: 'margin-top: 5px;'
  = link_to 'Done adding sites for this study', studies_path, class: 'btn btn-primary', style: 'margin-top: 5px;'
#new-relying-site{style: 'display:none;'}
  = bootstrap_form_for @site, html: {class: 'text-left'}  do |f|
    = f.hidden_field :study_id, value: @study.id
    = f.hidden_field :reviewing, value: 0
    = f.label :institution, 'Relying Site'
    = f.select :institution, options_for_select(@institution_names), include_blank: '----- Please Select an Institution -----'
    = f.submit 'Add Site'
