%h3= "Define the Reviewing Institution for study: #{@study.title}"
= bootstrap_form_for @site, html: {class: 'text-left'}  do |f|
  = f.hidden_field :study_id, value: @study.id
  = f.hidden_field :reviewing, value: 1
  = f.label :institution, 'Reviewing Institution'
  = f.select :institution, options_for_select(@institution_names), include_blank: '----- Please Select an Institution -----'
  = f.submit 'Continue'
