!!!
%html{lang: "en"}
  = render 'head'
  %body
    = render 'contact_modal' if user_signed_in? && !current_user.privileged?
    = render 'navbar'
    -# Admin and approved navbars only needed when document management system is enabled
    -# = render 'admin_navbar' if user_signed_in? && current_user.privileged?
    -# = render 'approved_navbar' if user_signed_in? && current_user.approved?
    %div{style: 'height:20px;'}
    = render 'progress_bar'
    = render 'main_content'
